<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3
    ">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../../../assets/images/CleanU.png"/>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">

        <div class="left">
          <ul class="nav navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" [routerLink]="['/questions-and-answers']">Q&A</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/prices-and-services']">Prices & Services</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
            </li>
          </ul>
        </div>

        <login-menu class="right"></login-menu>
      </div>
    </div>
  </nav>
</header>

