<div>
  <div class="top">
    <div class="header-container">
      <h1>CLEANING COMPANY IN MINSK</h1>
    </div>
  </div>
  <div class="container">
    <h1 class="services-heading">Our cleaning services</h1>
    <div class="row">
      <div class="col-md-5 service" style="margin-top:10px">
        <div class="image-container">
          <img src="../../../assets/images/apartment-cleaning.png" />
        </div>
        <p class="title">
          Cleaning of apartments and cottages
        </p>
        <p class="description">Cleaning involves working with a variety of materials and surfaces. Professional cleaning at home, in this case, will provide high-level care and cleanliness in every corner of your home.</p>
      </div>
      <div class="col-md-5 service" style="margin-top:10px">
        <div class="image-container">
          <img src="../../../assets/images/yborka-posle-remonta.png" style=" height: 200px; margin-top: -40px;" />
        </div>
        <p class="title">
          Cleaning of premises after renovation
        </p>
        <p class="description">
          Cleaning after renovation always requires a lot of effort and time. It is much easier to carry out all the work to remove garbage and dust using the specialized means of our company, without causing harm.
        </p>
      </div>
      <div class="col-md-5 service">
        <div class="image-container">
          <img src="../../../assets/images/yborka-oficov.png" style=" height: 200px; margin-top: -40px;" />
        </div>
        <p class="title">
          Cleaning of office premises
        </p>
        <p class="description">
          Cleaning involves working with a variety of materials and surfaces. Professional cleaning at home, in this case, will provide high-level care and cleanliness in every corner of your home.
        </p>
      </div>
      <div class="col-md-5 service">
        <div class="image-container">
          <img src="../../../assets/images/general-house-cleaning.png" />
        </div>
        <p class="title">
          General cleaning of a house
        </p>
        <p class="description">
          Everyone faced the need to carry out a general cleaning of a house, apartment or office. We will save your time and energy for more important activities or rest, and are ready to perform general cleaning of the apartment for you.
        </p>
      </div>
    </div>
    <div class="advantages">
      <h1 class="benefits-header">Benefits by choosing us</h1>
      <div class="block">
        <div class="row" style="top:20%; position:relative;">
          <div class="col-md-5 advantage">
            <p class="advantage-heading">Proven professionals</p>
            <p class="advantage-description">
              Our mission is perfect cleanliness in which every client will be happy.
            </p>
          </div>
          <div class="col-md-5 advantage">
            <p class="advantage-heading">Speed ​​of work</p>
            <p class="advantage-description">
              With us, you will not notice how high-quality cleaning of your premises will go.
            </p>
          </div>
          <div class="col-md-5 advantage">
            <p class="advantage-heading">Friendliness and courtesy</p>
            <p class="advantage-description">
              Order cleaning of an apartment or cottage and get the best emotions from cooperation.
            </p>
          </div>
          <div class="col-md-5 advantage">
            <p class="advantage-heading">Nice prices</p>
            <p class="advantage-description">
              Cleaning, washing - all this you can order from us and be convinced of the favorable prices for the work.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
