/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

#app {
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.heading > h1 {
  text-transform: uppercase;
  color: #333;
  font-family: cursive;
  font-weight: 600;
  border-bottom: 2px solid;
  width: fit-content;
}

.content {
  margin-top: 40px;
}

.tooltip.wide {
  .tooltip-inner {
    max-width: 400px;
    text-align: initial;
    transform: translate(20%, 0);
  }
}

.pointer {
  cursor: pointer;
}

.app-content {
  margin-left: 240px;
  padding: 80px 50px;
  position: relative;
  min-height: 100%;
}

.form-search-icon {
  color: #869ac0;
  position: absolute;
  top: 7px;
  left: 30px;
}

.form-search-input {
  padding-left: 32px !important;
}

.filters {
  text-align: center;
}

.breadcrumb {
  font-weight: 700;
  font-size: 90%;
  padding: 0;
  background: 0 0;
  border-radius: 0;
  margin-bottom: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb-item.active {
  color: #657eae;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: .5rem;
}

.card {
  border: 1px solid rgba(101,126,174,.25);
  border-radius: 9px;
}

.card-header:first-child {
  border-radius: 8px 8px 0 0;
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(218,224,236,.25);
  border-bottom: 1px solid rgba(101,126,174,.25);
  font-weight: 600;
  font-size: 16px;
}

.float-end {
  float: right;
}

h1.page-header {
  padding-bottom: 20px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
