<div class="container">
  <div class="heading text-center">
    <h1>
      <span>Useful cleaning tips</span>
    </h1>
  </div>
  <div class="content">
    <div class="block">
      <div class="question">
        How to choose a cleaning company
      </div>
      <div class="answer">
        <img src="../../../assets/images/cleaning-girl.png" />
        <div class="information">
          If you are reading this article, then you have a desire to order cleaning from specialists, but you have a question how to find such specialists! To get started, we advise you to decide which search parameters are most important to you:
          <ul>
            <li>speed of departure to the object</li>
            <li>speed of work</li>
            <li>the quality of the services provided</li>
            <li>price</li>
            <li>guarantees of preservation of property after cleaning</li>
          </ul>
          If you are looking for only one parameter, then there will be no problems with the search, but if you need a combination of at least 4 out of 5 items, then it becomes much more difficult to make a choice. In any case, here we will consider a classic example of cleaning an apartment, since 90% of cleaning companies are engaged in cleaning apartments.
        </div>
      </div>
    </div>
    <div class="block">
      <div class="question">
        How to clean an apartment correctly?
      </div>
      <div class="answer">
        <img src="../../../assets/images/cleaning-stuff.jpg" />
        <div class="information" style="margin-left: 380px;">
          <p>
            Dust is a strong allergen that can have a very negative effect on the well-being of all residents. In order to protect yourself and your loved ones, you need to regularly clean all hard surfaces in the house.
          </p>
          <p>
            Each cleaning should begin with removing the trash from the apartment. We advise you not to store things that you have never used during the year. Believe me, if this thing is forgotten and has not been used even once in a year, then it is simply unnecessary in your apartment. Accumulated dust and debris - create a negative for your apartment and take away its coziness and comfort.
          </p>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="question">
        How to get rid of mold odor
      </div>
      <div class="answer">
        <img src="../../../assets/images/cleaning-plesen.jpg" />
        <div class="information" style="margin-left: 380px;">
          <p>
            The specific smell of mold is familiar to many, and often modern people come across it in their own home. Airing the room and masking the smell are only temporary measures that will not help to cope with the problem. To get rid of such an aroma, you need to find its source and then neutralize it.
          </p>
          <p>
            In simple terms, mold is a microscopic fungus in the form of a plaque. It grows in a variety of conditions and on any materials, therefore it is literally ubiquitous. Moreover, mold fungi not only live on various surfaces, but also grow inward with mycelium filaments.
          </p>
          <p>
            The smell of mold and its source must be removed immediately. It is important to understand that odor removal is not only necessary for aesthetic reasons. Microparticles of the fungus suspended in the air can harm health. Once in the human body, mold spores can disrupt metabolic processes and disable the immune system. This means that the human body will become vulnerable to bacteria and viruses. With a decrease in the protective properties of the body, the parasitic fungus can significantly undermine health.
          </p>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="question">
        How to get rid of tobacco smell
      </div>
      <div class="answer">
        <img src="../../../assets/images/antitabak.jpg" />
        <div class="information" style="margin-left: 380px;">
          <p>
            Eliminating unwanted odors in living quarters is a pressing and challenging problem. The most undesirable and difficult to remove "aroma" is considered to be tobacco smoke. The smell of ash and smoke from cigarettes is very persistent, so getting rid of it is not so easy, especially if you constantly smoke in the room. In addition, tobacco smoke leaves a yellowish tar coating on literally all external surfaces (walls, glass, furniture, ceilings, textiles, etc.).
            As a result, in smoky rooms, everything is saturated with a heavy odor and covered with a yellow coating. The same goes for car interiors. Many smokers try to solve this problem on their own, for example, they try to smoke only in the toilet or on the balcony. But this approach is ineffective - the smell of tobacco in any case will penetrate into all living rooms.
          </p>
          <p>
            Of course, the most effective and proven way to get rid of cigarette stink is to quit tobacco products. It is very difficult, but possible. If such a “sacrifice” is not yet acceptable for you, try at least to quit smoking in the car. In general, the fight against odor should start by eliminating its source. Surely you or your family member are throwing gobies into a small ashtray that only cleans up after it is full? This is not an option.
          </p>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="question">
        What to do if the thermometer breaks?
      </div>
      <div class="answer">
        <img src="../../../assets/images/gradusnik.jpg" />
        <div class="information" style="margin-left: 380px;">
          <p>
            In the modern world, almost every home contains items that contain mercury: medical thermometers, thermometers, fluorescent lamps. Since school years, we have known that mercury belongs to the class of extremely hazardous chemicals. Mercury vapors provoke the most severe poisoning of the body, and in combination with other metals, they affect the kidneys, nervous system and other organs. Therefore, the storage of mercury in the open form in residential premises and public places is strictly prohibited.
          </p>
          <p>
            The most dangerous is prolonged exposure to mercury vapor, which appears, including from the smallest droplets of this metal. Any, even a fleeting breath of such vapors leads to instant poisoning and various complications. The most likely immediate consequences include food poisoning and a decrease in the sensitivity threshold.
            Longer exposure will cause central nervous system disturbances, decreased mental alertness and exhaustion. The most dangerous consequences await people with a weak heart and vascular problems. Even with a few small breaths of mercury vapor, their condition deteriorates critically. In this case, it is important to see a doctor immediately.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="heading text-center">
    <h1>
      <span>Our Contact Infromation</span>
    </h1>
  </div>
  <div class="content">
    <div class="simple-text" style="margin-bottom:40px">
      <p>
        Cleaning company CleanU accepts calls until 20.00.
      </p>
      <p>
        If you have any questions or want to order cleaning, please call:
      </p>
    </div>
    <div class="contact-information">
      <div class="text-center">
        <a href="tel:+375447081138" target="_blank">+375(44)708-11-38</a>
        <br />
        <br />
        <a href="tel:+375296603042" target="_blank">+375(29)660-30-42</a>
      </div>
    </div>
    <div class="simple-text" style="margin-top:40px">
      <p>
        Republic of Belarus, Minsk, 220020, Lesi Ukrainka street 4/1
      </p>
      <google-map width="100%"
                  [zoom]="zoom"
                  [center]="center"
                  [options]="options"></google-map>
    </div>
  </div>
</div>
