<div class="container">
  <div class="heading text-center">
    <h1>Frequently asked questions and answers to them</h1>
  </div>
  <div class="content">
    <div class="q-a">
      <div class="question">Do you clean offices or apartments after renovation?</div>
      <div class="answer">We clean both offices and apartments after renovation. As well as gyms, shops and cafes. Together with cleaning we can dry-clean furniture, carpet.</div>
    </div>
    <div class="q-a">
      <div class="question">Do I need to provide my own detergent?</div>
      <div class="answer">Our specialists have everything you need to fully clean your apartment and clean windows. We use professional cleaning products. All you have to do is open the doors.</div>
    </div>
    <div class="q-a">
      <div class="question">How your company CleanU differ from other cleaning companies?</div>
      <div class="answer">There are many cleaning companies in Minsk. BUT, Clean-Up gives a 100% MATERIAL guarantee of the restoration of damaged property. Our cleaning company has more than 300 reviews at various Belarusian sites. We rank first in the AllRatings rating in terms of: general cleaning, cleaning after renovation and dry cleaning of carpet!</div>
    </div>
    <div class="q-a">
      <div class="question">How are windows and bathrooms counted?</div>
      <div class="answer">One window is two sashes off the floor. The floor section is also one window. Bathroom and toilet are one bathroom, even if they are two rooms.</div>
    </div>
    <div class="q-a">
      <div class="question">Are there any discounts?</div>
      <div class="answer">
        There are 4 ways to order cleaning at a lower price:
        <ul>
          <li>Discount on the first order 15%</li>
          <li>Regular cleaning: 10% to 20% discount</li>
          <li>Referral program: recommend us to your friends and get bonus points</li>
          <li>Follow our promotions on social media accounts.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
