.q-a {
  background-color: #888;
  padding: 20px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.question {
  color: #6053a1;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}

.answer {
  color: #fff;
  font-size: 18px;
  font-family: cursive;
  margin-top: 20px;
}

ul {
  margin-top: 10px;
}

.container {
  margin-top: 40px;
}
