<div class="container" *ngIf="products">
  <div class="heading text-center">
    <h1>
      <span>Prices & Services</span>
    </h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-3 product-card" *ngFor="let product of products; let i=index">
        <div class="difficulty-block">
          <ngb-rating [max]="max" [rate]="product.DifficultyId" [readonly]="true">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
        <div class="card-content">
          <h1>{{product.Name}}</h1>
          <div class="description pointer" [ngbTooltip]="product.Description" container="body" tooltipClass="wide">
            {{product.Description}}
          </div>
          <div class="price-block">
            <span>From {{product.BasePrice}} BYN</span>
          </div>
          <button class="btn btn-secondary select-product-btn" (click)="selectProduct(product, i)">Select</button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="orderingVisible">
    <div class="heading text-center" style="margin-top:60px;" #ordering>
      <h1>
        <span>Ordering</span>
      </h1>
      <table class="table table-striped table-secondary">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Amount</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody *ngFor="let selectedProduct of selectedProducts; let i=index">
          <tr>
            <td class="product-name">
              {{selectedProduct.Name}}
              <a (click)="removeProduct(selectedProduct, i)" class="pointer">
                <i class="fas fa-trash"></i>
              </a>
            </td>
            <td>{{getProductAmount(selectedProduct.Id)}}</td>
            <td class="price">{{selectedProduct.BasePrice}} BYN</td>
          </tr>
          <tr *ngIf="selectedProduct.Materials.length>0">
            <td colspan="3" class="child-td">
              <table class="table table-striped table-light sub-table">
                <thead>
                  <tr>
                    <th>Material Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let material of selectedProduct.Materials">
                    <td>{{material.Name}}</td>
                    <td>1</td>
                    <td class="price">{{material.Price}} BYN</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot class="order-results">
          <tr>
            <td>Total:</td>
            <td></td>
            <td>{{totalOrderPrice}} BYN</td>
          </tr>
        </tfoot>
      </table>
      <button class="btn btn-secondary btn-lg" *ngIf="totalOrderPrice>0" (click)="createOrder()">Create Order</button>
    </div>
  </ng-container>
</div>
