.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 240px;
  border-right: 1px solid #dae0ec;
  z-index: 1020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-content {
  overflow: hidden;
  width: auto;
  height: 100%;
  padding: 10px 0;
}

.menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu-header {
  margin: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #657eae;
  text-align: left;
}

.menu-item {
  padding: 0 10px;
}

.menu-link {
  padding: 6px 10px;
  line-height: 20px;
  text-decoration: none;
  color: #3c4e71 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background: rgba(201,210,227,.5);
  }
}

.menu-icon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
  color: #3c4e71;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-item.active > .menu-link > span {
  color: #6053A1;
  font-weight: 600;
  background: 0 0;
}

.menu-icon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
  color: #3c4e71;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-icon + .menu-text {
  margin-left: .625rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 20px;
  color: #3c4e71;
}

