.table-header {
  color: #6053A1;
  text-transform: none;
  text-decoration: none;

  h1 {
    font-family: cursive;
    font-weight: 600;
  }
}

td {
  font-size: 16px;
  font-weight: 400;
}

.table-block {
  margin-top: 20px;
}
